exam/vue.config.js
exam/node_modules
exam/dist
exam/src/urls.js
exam-api/node_modules
exam-api/public/hot
exam-api/public/img
exam-api/public/audio
exam-api/storage/*.key
exam-api/vendor
exam-api/.env
exam-api/.env.backup
exam-api/.phpunit.result.cache
exam-api/Homestead.json
exam-api/Homestead.yaml
exam-api/npm-debug.log
exam-api/yarn-error.log
