@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body{
    font-family: "Roboto";
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem !important;
    font-size  : .875rem !important;
    line-height  : .5 !important;
    border-radius : .2rem !important;
}